/**variables */
/**defaults ======================================================================*/
html,
body {
  margin: 0; }

/**overriding default button style*/
.btn-primary {
  background-color: #33afe5;
  border: 0; }

/**top and down padding for sections */
.section-padding {
  padding-top: 120px;
  padding-bottom: 120px; }

.section-padding-bottom {
  padding-bottom: 120px; }

/**main section with navbar =============================================================== */
nav.navbar-dark {
  text-decoration: none;
  background-color: white; }

nav .fa {
  position: relative;
  font-size: 2.5rem;
  margin-top: -13px; }

nav.navbar .active {
  background-color: #245b73;
  border: 1px solid white;
  border-radius: 2px;
  color: white; }

/**navbar brand */
nav button {
  color: white; }
  nav button .fa {
    margin-top: -4px; }

nav a.navbar-brand-text {
  cursor: pointer;
  text-decoration: none; }

/**navbar links */
#navbarNav ul li a {
  color: white; }

/** start section =========================================================================== */
.start-section {
  width: 100%;
  height: 100vh;
  background: url("../img/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

/**transparent blue overlay */
.overlay {
  position: absolute;
  background-color: #33afe5;
  opacity: 0.9;
  width: 100%;
  height: 100vh; }

.carousel,
.carousel-inner,
.carousel-item {
  width: 100%;
  height: 100vh; }

/**text slides */
.carousel-caption {
  top: 35%; }

@media screen and (max-width: 576px) {
  .carousel-caption {
    top: 20%; }
    .carousel-caption h2 {
      font-size: 1.1rem; }
    .carousel-caption p {
      font-size: 1rem; } }

.carousel-indicators li {
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 100%; }

/**brands section ===================================================== */
.brands-section {
  background-color: #f0f0f0; }
  .brands-section img {
    filter: grayscale(200%); }

@media screen and (max-width: 576px) {
  .brands-section {
    background-color: #f0f0f0; }
    .brands-section img {
      filter: grayscale(200%); } }

/**atom features section ========================================================== */
.atom-features {
  background-color: white; }

.atom-features header p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  color: grey; }

.atom-features .row .fa {
  font-size: 2.8rem;
  color: gray; }

.features-item {
  font-size: 1rem; }

.features-item p:first-child {
  color: #33afe5;
  font-size: 1.2rem; }

.features-item:hover {
  background-color: #f0f0f0; }
  .features-item:hover .fa {
    color: #33afe5; }

/**portfolio grid section ===================================================== */
.portfolio-grid {
  background-color: #f7f7f7; }

.portfolio-grid .row .fa {
  padding-top: 40px;
  color: grey;
  font-size: 4rem; }

.text-stats p {
  color: grey;
  font-size: 1.5rem; }

.text-stats:hover {
  background-color: #f5f5f5; }
  .text-stats:hover .fa {
    color: #33afe5; }

/**year */
p.display-1 {
  color: #33afe5;
  font-size: 4rem !important; }

.portfolio-grid header p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  color: grey; }

.portfolio-grid .row .btn-group .btn-outline-secondary {
  border: 2px solid grey; }

.portfolio-grid .row .btn-group .btn-outline-secondary:hover {
  background-color: #33afe5; }

.portfolio-grid .row img {
  width: 100%; }

.img-overflow {
  overflow: hidden; }

.card-overlay {
  position: absolute;
  top: 32px;
  color: white;
  opacity: 0;
  padding-top: 95px;
  width: calc(100% - 32px);
  height: calc(100% - 65px);
  background-color: #33afe5;
  transition: all 0.5s ease; }

.card-overlay:hover {
  opacity: 0.9;
  transition: all 0.5s ease; }

/**responsive for button group */
@media screen and (max-width: 576px) {
  #filter {
    padding-left: 0;
    padding-right: 0; }
  #filter-group {
    font-size: 0.5rem;
    padding-left: 0;
    padding-right: 0; } }

/** description  on portfolio cards */
@media screen and (max-width: 576px) {
  .portfolio-grid .row .btn-group .btn-outline-secondary {
    margin-left: 0 !important;
    margin-right: 0 !important; } }

/**pricing table section =======================================================*/
.pricing-table {
  background: white; }

/**header paragraph */
.pricing-table header p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  color: grey; }

/**item card red heading */
.card-heading {
  text-align: center;
  color: red;
  padding-bottom: 10px; }

/**single card item */
.item-card {
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  border: 1px solid grey;
  padding: 30px;
  overflow: hidden;
  position: relative; }

/**card ribbon in middle card*/
.ribbon {
  width: 160px;
  height: 32px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #33afe5;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px; }

/**item card list  */
.pricing-table .features h4 {
  text-align: center;
  font-size: 1.3rem;
  padding: 5px; }

/**item card price */
.pricing-table .price h4 {
  font-size: 2.5rem;
  text-align: center; }

/** dollar sign superscript */
sup {
  top: -0.7rem;
  font-size: 1.5rem; }

/**price month */
.price-month {
  font-size: 1.2rem; }

@media screen and (max-width: 576px) {
  .item-card {
    margin-left: 10px;
    margin-right: 10px; } }

/** people card section ======================================================= */
.people {
  background-color: #33afe5; }

/**header text */
.people header {
  color: white; }

/**header paragraph text */
.people header p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto; }

/**card text paragraph */
.people .card-body > p {
  font-size: 1.2rem; }

/**person name in blue color */
.people .card-body h4 {
  color: #33afe5; }

/**animation for card */
.people .card {
  transition: all 0.5s; }

.people .card:hover {
  transition: all 0.5s;
  transform: scale(1.05);
  box-shadow: 2px 2px 8px #2b2727; }

/**free black strip section =======================================================*/
.free {
  background-color: black; }

/**section text */
.free .row p {
  font-size: 2.2rem;
  margin-left: 100px; }

/**button */
.free .row a {
  font-size: 1.4rem; }

.btn-free {
  background-color: #00ccff;
  color: #333333; }

/**for mobile screens */
@media screen and (max-width: 576px) {
  .free .row a {
    display: block;
    margin-left: 0;
    padding-left: 0; }
  /**section text */
  .free .row p {
    margin-left: 20px; } }

/**tablets */
@media screen and (max-width: 768px) {
  .free .row a {
    display: block;
    margin-left: 0;
    padding-left: 0; }
  /**section text */
  .free .row p {
    margin-left: 20px; } }

/**feedback contact section ===============================================================*/
.feedback {
  background-color: white; }

.feedback header p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: auto;
  color: grey; }

/** form */
form {
  max-width: 700px;
  margin: auto;
  margin-top: 100px; }

form textarea {
  resize: none; }

form button {
  margin: auto; }

/**cloud animation instead of map section===========================================*/
.cloud-background {
  width: 100%;
  height: 400px;
  background-color: #bfdfec;
  background-repeat: repeat-x;
  background-image: url("../img/cloud.png");
  animation: movement 15s linear infinite; }

@keyframes movement {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 560px 0px; } }

.cloud-strip {
  position: absolute;
  left: 0;
  margin-top: 320px;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  background-color: #2ea8fa;
  opacity: 0.9;
  color: white;
  z-index: 10;
  text-align: center; }

/**footer====================================================================== */
.footer {
  background-color: white;
  margin-bottom: 50px; }

.footer .fa {
  padding: 10px;
  background-color: #33afe5;
  color: white;
  font-size: 1.5rem;
  margin: 5px;
  transition: all 0.5s; }
  .footer .fa.fa-facebook {
    padding-left: 10px;
    padding-right: 20px; }

.footer .fa:hover {
  transition: all 0.5s;
  color: black;
  background: red; }
